@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .slant-section {
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%);
    width: 100%;
    max-width: 40rem;
  }
}
.thin-button {
  padding-top: 2px; /* or even 1px depending on your design needs */
  padding-bottom: 2px;
}

html,
* {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

/* body {
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
} */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media (max-width: 768px) {
  .slant-section {
    width: 100%;
    max-width: 100%;
    clip-path: none;
    -webkit-clip-path: none;
  }
}
